:root {
    --blue: #3b71d0;
    --brightblue: #7398d7;
    --red: #ed4f35;
    --brightred: #f7efed;
    --gray: gray;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.blue-box-shadow {
    box-shadow: 6px 6px var(--blue);
}

.blue-box-shadow:hover {
    box-shadow: 6px 6px var(--blue);
}

.blue-box-shadow:active {
    box-shadow: 3px 3px var(--blue);
}

.red-box-shadow {
    box-shadow: 6px 6px var(--red);
}

.red-box-shadow:hover {
    box-shadow: 6px 6px var(--red);
}

.red-box-shadow:active {
    box-shadow: 3px 3px var(--red);
}

.logo img {
    height: 10em;
    margin-top: 20px;
    border-radius: 100px;
    border: 3px solid var(--blue);
    box-shadow: 2px 2px var(--blue);
}

.logo img:hover {
    box-shadow: 2px 2px var(--red);
}

.logo img:active {
    box-shadow: 0px 0px var(--red);
}

.home-buttons {
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-button {
    height: 50vh; 
    width: 40vw;
    font-size: 40px;
    font-weight: 500;
    padding: 3vw;
    margin: 20px;
}

.home-button:hover {
    cursor: pointer;
}

button {
    border: 3px solid black;
    border-radius: 20px;
}

.left-button {
    background-color: var(--blue);
    color: white;
}

.right-button {
    background-color: var(--red);
    color: white;
}

@media (max-width: 600px) {
    .home-buttons {
        height: auto;
        flex-direction: column; 
    }

    .home-button {
        width: 80vw;
        font-size: 30px;
    }

    footer {
        font-size: 10px;
    }
}

.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--brightred);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
}

.form-button {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border-color: var(--blue);
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    border-color: white;
    background-color: white;
    color: var(--blue);
}

.recovery-page {
    height: 60%;
}

.recovery-form {
    height: 75%;
    width:350px;
}

.form label {
    font-size: 15px;
}

.recovery-form input {
    width : 280px;
}

.form input {
    background-color: var(--brightred) ;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.company-page {
    height: 120%;
}

.company-form {
    height: 85%;
    width:500px;
}

.company-form input {
    width : 360px;
}