{% include "header.html" %}

    <div class="main-container">
        <div class="h2-container">
            <h2>CONNEXION</h2>
            <button class="h2-button red-button blue-box-shadow" id="registerButton">Inscription</button>
        </div>
        <div class="basic-form">
            <form action="/connexion-compagnie-transport" method="post">
                <label for="email">Email :</label><br>
                <input type="text" id="email" name="email"><br><br>

                <label for="password">Mot de passe :</label><br>
                <input type="text" id="password" name="password"><br><br>
                
                <div class="button-container">
                    <button class="blue-button blue-box-shadow" id="loginFormButton" type="submit">Me connecter</button>
                </div>
            </form>
        </div>
    </div>

{% include "footer.html" %}