{% include "header.html" %}

    <div class="main-container">
        <div class="h2-container">
            <h2>INSCRIPTION</h2>
            <button class="simple-size-button red-button blue-box-shadow" id="loginButton">Connexion</button>
        </div>
            <form action="/inscription-compagnie-transport" method="post">
                <div class="sub-form-container">
                    <div class="sub-form">
                        <div>
                            <h3>Information de compte :</h3>

                            <label for="company_name">Nom de la compagnie :</label><br>
                            <input type="text" id="company_name" name="company_name"><br><br>
    
                            <label for="website">Site web :</label><br>
                            <input type="text" id="website" name="website"><br><br>
    
                            <label for="email">Mon email :</label><br>
                            <input type="text" id="email" name="email"><br><br>
                            
                            <label for="password">Mon mot de passe :</label><br>
                            <input type="password" id="password" name="password"><br><br>
                        </div>
                    </div>
                    <div class="sub-form">
                        <div>
                            <h3>Localisation :</h3>
                            <label for="city">Ville :</label><br>
                            <input type="text" id="city" name="city"><br><br>
                            <label for="postal_code">Code postal :</label><br>
                            <input type="text" id="postal_code" name="postal_code"><br><br>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button class="blue-button blue-box-shadow" id="registerFormButton" type="submit">M'inscrire</button>
                </div>
            </form>
        </div>
    </div>

{% include "footer.html" %}