{% include "header.html" %}

    <div class="main-container">
        <div class="h2-container">
            <h2>MA COMPAGNIE DE TRANSPORT</h2>
            <button class="simple-size-button red-button blue-box-shadow" id="disconnectButton">Me déconnecter</button>
        </div>
            <form action="/ma-compagnie-de-transport" method="post">
                <div class="sub-form-container">
                    <div class="blue-container sub-form">
                        <div>
                            <h3>Information de compte :</h3>

                            <label for="company_name">Nom de la compagnie :</label><br>
                            <input type="text" id="company_name" name="company_name" value="{{company_name}}" readonly><br><br>
    
                            <label for="website">Site web :</label><br>
                            <input type="url" id="website" name="web" value="{{website}}" readonly><br><br>
    
                            <label for="email">Mon email :</label><br>
                            <input type="email" id="email" name="email" value="{{email}}" readonly><br><br>
                        </div>
                    </div>
                    <div class="blue-container sub-form">
                        <div>
                            <h3>Localisation :</h3>
                            <label for="departement">Département :</label><br>
                            <input type="text" id="departement" name="department" value="{{department}}" readonly><br><br>
                            <label for="city">Ville :</label><br>
                            <input type="text" id="city" name="city" value="{{city}}" readonly><br><br>
                        </div>
                    </div>
                    <div class="red-container sub-form">
                        <div>
                            <h3>Information de contact :</h3>
                            <label for="phone_number">Numéro de téléphone :</label><br>
                            <input type="tel" id="phone_number" name="phone_number" value="{{phone_number}}" pattern="^0[1-9](?:\s\d\d){4}$"><br><br>
                            <label for="address">Adresse :</label><br>
                            <input type="text" id="address" name="address" value="{{address}}"><br><br>
                            <label for="contact_page">Lien page de contact :</label><br>
                            <input type="url" id="contact_page" name="contact_page" value="{{contact_page}}"><br><br>
                        </div>
                        <div class="button-container">
                            <button class="blue-button blue-box-shadow" id="myCompanyFormButton" type="submit">Mettre à jour</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <button class="simple-size-button red-button blue-box-shadow" id="deleteAccountButton">Supprimer mon compte</button>
        </div>
    </div>

{% include "footer.html" %}