{% include "header.html" %}

    <div class="main-container">
        <div class="h2-container">
            <h2>RÉCUPÉRER MON OBJET PERDU</h2>
        </div>
        <div class="basic-form" id="recuperer-objet-perdu">
            <form action="/recuperer-objet-perdu" method="post">
                <h3>Sélectionner votre lieu de récupération :</h3>
                <select name="recovery-sites" id="recovery-sites" required>
                {% if recovery_sites %}
                    {% for site in recovery_sites %}
                        <option id="recovery-sites" value="{{ site['Name'] }} | {{ site['City'] }}, {{ site['Department'] }}">{{ site['Name'] }} | {{ site['City'] }}, {{ site['Department'] }}</option>
                    {% endfor %}
                {% endif %}
                </select><br><br>
                
                <div class="button-container">
                    <button class="blue-button blue-box-shadow" id="recoveryFormButton" type="submit">Soumettre</button>
                </div>
            </form>
        </div>
        {% if is_submitted %}
        <div class="informations-display" >
            <p>
                Numéro de contact : {{informations['Tel']}}
            </p>
            <p>
                Adresse : {{informations['Adresse']}}
            </p>
            <p>
                Page contact : {{informations['PageContact']}}
            </p>
        </div>
        {% endif %}
    </div>

{% include "footer.html" %}